.bg_verdeb{
    z-index:1000;
    top: -30px;
    background-image: linear-gradient(to bottom, #00d62e, #2ce048, #43eb5f, #56f574, #68ff88);border-radius: 30px 30px 0 0;
}

.icon_effect_res_dashboard {
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
}


.icon_effect_res_dashboard:hover{
  color: #000000;
    font-weight: bold;
}

.a_sidebar{
    color: #ffffff;
}

.a_sidebar:hover{
    color: #000000;
    font-weight: bold;
}

.nav-link-sidebar{
    margin-bottom: 15px;
}

.nav-link-sidebar:hover{
    background-color: #00FF31;
    color: #ffffff!important;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border-radius: 15px;
}


@media screen and (max-width: 576px) {
    .hidden_cont{
        display: none;
    }
}

@media (min-width: 576px){

    .content_adapt_300{
        max-width: 350px;
        margin: 0 auto;
    }


    .content_adapt_500{
        max-width: 500px;
        margin: 0 auto;
    }

    .bg_verdeb{
    z-index:1000;
    top: 0px;
    background-image: linear-gradient(to bottom, #00d62e, #2ce048, #43eb5f, #56f574, #68ff88);border-radius: 30px 30px 0 0;
    }

    .menu_variable{
        display: none;
    }
}


@media only screen and (min-width: 1200px) {

    .tab_bar_res{
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .sidebar_pc{
        background-color: red;
        display: none;
    }

}
