.btn-save{
    background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
    background: #2ECC71 0% 0% no-repeat padding-box;
    border-radius: 15px;
    width: 200px;
    height: 40px;
}
