.btn-save{
    background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
    background: #2ECC71 0% 0% no-repeat padding-box;
    border-radius: 15px;
    width: 100%;
    height: 40px;
}

.btn-save-border{
    background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
    background: #2ECC71 0% 0% no-repeat padding-box;
    border: 3px solid #F6F6F6;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
