.btn-save{
    background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
    background: #2ECC71 0% 0% no-repeat padding-box;
    border-radius: 15px;
    width: 100%;
    height: 40px;
}

.btn-save-dark{
    background: #000000;
    border-radius: 15px;
    width: 100%;
    height: 40px;
}

.btn-save-dark:hover{
    -webkit-box-shadow: 0px 0px 55px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 55px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 55px 6px rgba(0,0,0,0.75);
    font-weight: bold;


}

.btn-save-border{
    background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
    background: #2ECC71 0% 0% no-repeat padding-box;
    border: 3px solid #F6F6F6;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.btn-save-neon{
    background-image: linear-gradient(to bottom, #00ff37, #1aff46, #29ff52, #34ff5d, #3eff67);
    border-radius: 15px;
    width: 100%;
    height: 40px;

}

.btn-save-neon:hover{
    -webkit-box-shadow: 0px 0px 55px 6px rgba(0,249,54,1);
    -moz-box-shadow: 0px 0px 55px 6px rgba(0,249,54,1);
    box-shadow: 0px 0px 55px 6px rgba(0,249,54,1);
    font-weight: bold;
}
