.social-bar {
	position: fixed;
	right: 0;
	top: 65%;
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100000;
}

.modal-cambio-car {
    padding:0px 0px 0px 0px;
    text-align: center;
    margin:0px;
    z-index:100000;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform-origin: bottom right;
    position: fixed;
    right: 0px;
    top: 200px;
}
.modal-cambio-car button {
    color:#000000;
    background: #00ff37;
    border: solid 1px #00ff37;
    display:inline-block;
    font-size: 1.1rem;
    border-radius: 10px 10px 0px 0px;
}


.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-whatsapp {
	background: #27AE60;
}

.icon-telegram {
	background: #339DC5;
}

.icon-telephone {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/*BTN emergency*/

.emergency-btn{
	position: fixed;
	left: 15px;
	top: 76%;
	z-index: 100000;
    background-color: #00ff37;
    width: 35px;
    height: 35px;
    border-radius: 30px;
}

.emergency-btn:hover{
    background-color: #000000;
    border: solid #00ff37;
}

.contenedor-emergencia{
	position: fixed;
    left: 19.9px;
    top: 76.9%;
}


.icon-emergency{
    font-size: 25px;
    color: #000000;
}

.icon-emergency:hover{
    color: #00ff37;
}

