.card{
    /*background-color: #050F55 ;*/
    background-image: url('../img/bg-medida.png');
    border: 1px solid #050F55;
}
.car-modal{
    background-color: #050F55;border: 1px solid #050F55;border-radius: 20px;
}

.car-modal-ss{
    background: none;border: none;border-radius: 20px;
}

.rotate90 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
