.icon-effect{
    color: #FFFFFF;
    font-size:30px
}

.icon-effect-sm{
    color: #FFFFFF;
    font-size:20px
}

.icon-effect:hover{
    color: #08d833;
}

.icon-effect-sm:hover{
    color: #08d833;
}

.icon-effect-dashboard{
    color: #FFFFFF;
    font-size:50px;
    padding: 10px;
}

.icon-effect-dashboard:hover{
    color: #08d833;
}

.icon-effect-users{
    color: #000000;
    font-size:60px;
    position: absolute;
    top: -5px;
    right: 30px;
    padding: 10px;
}

.icon-effect-users:hover{
    color: #08d833;
}

.icon-effect-users-edit{
    color: #FFFFFF;
    font-size:60px;
}

.icon-effect-users-edit:hover{
    color: #08d833;
}

.icon-users-edit{
    color: #FFFFFF;
    font-size:25px;
}

.icon-users-edit:hover{
    color: #08d833;
}

.icon-save{
    color: #FFFFFF;
    font-size:20px;
}

.icon-garaje{
    color: #000000;
    font-size:30px;
    margin-right: 10px;
}

.icon-garaje:hover{
    color: #08d833;
}

.icon-plus-effect{
    color: #000000;
    font-size:25px;
}

.icon-plus-effect:hover{
    color: #08d833;
}

.icon-tc{
    color: #FFFFFF;
    font-size:25px;
}

.icon-tc:hover{
    color: #000000;
}

.icon-tc-r{
    color: #FFFFFF;
    font-size:30px;
}

.icon-tc-r:hover{
    color: #08d833;
}


