.btn-garaje{
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #00d62e, #2ce048, #43eb5f, #56f574, #68ff88);
    padding: 5px;
}

.card-slide-garaje{
    border-radius: 15px;
}

.btn-garaje-2{
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #00d62e, #2ce048, #43eb5f, #56f574, #68ff88);
    padding: 5px;
}

.text-garaje{
    font: normal normal bold 15px/25px Segoe UI;
    color: #010101;
}

 .col-4 {
    padding-right: 5px;
    padding-left: 5px;
}

 .strong-title{
     font: normal normal bold 20px/27px Segoe UI;
 }


