
.bg-img-log{
    top: 0px;
    left: 0px;
    width: 414px;
    height: 420px;
    background: transparent linear-gradient(180deg, #24F7BC 0%, #24C4FC 100%) 0% 0% no-repeat padding-box;

}

.bg-down-blue{
    top: 0px;
    left: 0px;
    width: 414px;
    height: 350px;
    background: #050F55 0% 0% no-repeat padding-box;
    opacity: 1;
}


.btn-perzonalizado-gradient{
     top: 473px;
    left: 85px;
    width: 245px;
    height: 42px;
    background: transparent linear-gradient(180deg, #24F7BC 0%, #24C4FC 100%) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    filter: blur(undefined);
}

.btn-perzonalizado-white{
    top: 523px;
    left: 85px;
    width: 245px;
    height: 42px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    filter: blur(undefined);
}

.titulo-welcome{
    top: 60px;
    left: 60px;
    width: 210px;
    height: 53px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 40px/53px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.titulo-subtitle{
    top: 120px;
    left: 60px;
    width: 138px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

/*---------------------------*/
