
.bg-img-log{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1000;
  min-height: 100vh;
}

.bg-img-log::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-image: linear-gradient(to bottom, #c0ffce, #b4ffc5, #a9ffbb, #9dffb1, #90ffa7, #81f498, #73ea88, #64df79, #50c762, #3bb04b, #249934, #00831c);
  pointer-events: none;
  background-repeat: repeat;
  min-height: 100vh;
}

.bg-down-blue{
    background-image: url('../img/bg-medida.png');
    /*background: #050F55 0% 0% no-repeat padding-box;*/
    border-radius: 30px 30px 0 0;
    position: relative;
    background-repeat: repeat;
    min-height: 100vh;
}

.bg-down-blue-border{
    background: #050F55 0% 0% no-repeat padding-box;
    position: relative;
    z-index: 10000;
    background-repeat: repeat;
    min-height: 100vh;
}

.bg-down-image-border{
    background-image: url('../img/bg-medida.png');
    position: relative;
    z-index: 1000;
    background-repeat: repeat;
    min-height: 100vh;
}

.text-tittle-app{
    font: normal normal bold 20px/27px Segoe UI;
}

.bg-profile{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  /*background-image: linear-gradient(to bottom, #24f7bf, #00eddb, #00e1f0, #00d3fb, #24c4fc);*/
  background-image: linear-gradient(to bottom, #00f936, #2ffb50, #45fc65, #58fe77, #68ff88);
    border-radius: 0 0 30px 30px;
}


.btn-perzonalizado-gradient{
     top: 473px;
    left: 85px;
    width: 245px;
    height: 42px;
    /*background: transparent linear-gradient(180deg, #24F7BC 0%, #24C4FC 100%) 0% 0% no-repeat padding-box;*/
    background-image: linear-gradient(to bottom, #00ff37, #1aff46, #29ff52, #34ff5d, #3eff67);
    border-radius: 30px;
    opacity: 1;
    filter: blur(undefined);
    z-index:1000 ;
}

.btn-perzonalizado-gradient:hover{
-webkit-box-shadow: 0px 0px 55px 6px rgba(0,249,54,1);
-moz-box-shadow: 0px 0px 55px 6px rgba(0,249,54,1);
box-shadow: 0px 0px 55px 6px rgba(0,249,54,1);
    font-weight: bold;
}

.btn-perzonalizado-white{
    top: 523px;
    left: 85px;
    width: 245px;
    height: 42px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    filter: blur(undefined);
}

.titulo-welcome{
    top: 60px;
    left: 60px;
    width: 210px;
    height: 53px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 40px/53px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.titulo-subtitle{
    top: 120px;
    left: 60px;
    width: 138px;
    height: 20px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
