.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #00f936 ;
    color: #000;
    font-weight: bold;
    border-radius: 5px 10px 10px 5px;
    clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 50%, 85% 0%);
}

.a-perso{
    background-color: #007E1B  ;
    color: #fff;
    font-weight: bold;
    border-radius: 5px 10px 10px 5px;
    clip-path: polygon(0% 0%, 15% 50%,0% 100%, 75% 100%, 100% 50%, 75% 0%)
}

.input-group-text{
    /*background: transparent linear-gradient(180deg, #24F7BC 0%, #24C4FC 100%) 0% 0% no-repeat padding-box;*/
    background-image: linear-gradient(to bottom, #00d62e, #2ce048, #43eb5f, #56f574, #68ff88);
    border: none;
}

.btn-save{
    top: 972px;
    left: 24px;
    width: 100%;
    height: 51px;
    background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
    background: #2ECC71 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
}

.wrap-login100{
      background-color: #FFFFFF;
}
